body {
    background-color: rgba(21, 61, 39, 0.250)
}
.jumbotron {
    background: url('pics/bg-jumbo.png') no-repeat center center;
    margin-bottom: 0;
    height: 100vh;
    border-radius: 0;
}

.container>p ,h1 {
    color: white;
}

#headerbegin {
    font-size: 5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 6em;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.2em;
    margin-bottom: 1.8em;
}

#headerend {
    font-size: 3em;
}

.navbar-brand>img {
    width:45px;
}

hr {
    width:600px;
}

.portfolioproducts {
    min-height: 100vh;
}

h2 {
    font-size: 3em;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.2em;
    padding-top: 0.7em;
}

.portfoliorow {
    margin-top: 2em;
}

.img-thumb {
    width: 100%;
    margin-top: 0.5em;
}

.img-description {
    margin-top: 1em;
}

.portfolioplate {
    text-align: center;
}

.bgrdcolor {
    background-color: grey;
    padding: 0.5em;
    transition: transform .2s;
    border-radius: 15px;
}

.bgrdcolor:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.container a {
    text-decoration: none;
    color: black;
}

.productlink {
    display: block;
    color: black;
}

/* curriculum section */
.curriculum {
    min-height: 100vh;
    background-color: aliceblue;
}

.curriculumrow {
    margin-top: 3.5em;
}

.subjectlist>ul {
    padding-left: 20%;
    list-style-type: none;
    font-size: 1.6em;
}

.subjectlist>ul>li {
    margin-bottom: 0.4em;

}
.subjectlist{
    margin-right: 0;
    padding-right: 0;

}

header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.8em;
}

/* scroll arow  - fix */
    .arrowscroll {
    position: absolute;
    top: 86vh;
    left: 50%;
    transform: translate(-50%,-50%);
}   .arrowscroll span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}   .arrowscroll span:nth-child(2){
    animation-delay: -0.2s;
}   .arrowscroll span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
        0%{ opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }   50%{
        opacity: 1;
    }   100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}